

<div class="container">

        <div class="col-md-6">
            <div class="row">
                <div class="panel-heading activePollsAccordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <div class="activePollsHeader accordTitle">Active Polls</div><div class="totalVotesHeading accordTitle">Total Votes</div>
                            </div>
                        </div>
                    </div>


                    <accordion  close-others="true" ng-repeat="key in userPolls | limitTo: 10 | orderBy: '-createdAt'">
                        <accordion-group is-open="key.open" class="panel panel-default" id="accordion">
                            <accordion-heading class="panel panel-heading">

                                <div class="panel-title">
                                    <div class="accordTitle">{{key.title}}</div>
                                    <div class="voteCount"><span class="badge">{{key.totalVotes}}</span></div>
                                </div>
                            </accordion-heading>

                            <div class="radio panel-body activePollsAccordionBody" ng-repeat="nestedKey in key.choices">
                                <label>
                                    <input type="radio" ng-model="choices"  disabled>{{nestedKey.body}} <span class="badge">{{nestedKey.counter}}</span>
                                </label>
                            </div>
                            <button class="activePollsButton btn btn-info btn-xs"><a href="/#/poll/{{key._id}}">View Poll</a></button>
                            <button class="activePollsButton btn btn-info btn-xs"><a href="" ng-click="deletePoll(key._id)"> Delete Poll</a></button>
                        </accordion-group>
                    </accordion>





                </div>
            </div>
         </div>
        <div class="col-md-6">
            <!--<div ng-repeat="key in userPolls">-->
            <!--<div class="pieChart" chart chart-data="activeChartData" poll-title="{{key.title}}"></div>-->
            <!--</div>-->
        </div>

</div>





