


<div class="row createPollBox">

    <div class="panel panel-primary col-md-4 createPollBox" ng-hide="firstBox">

        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="pollTitle">Poll Question</label>
                   <div>
                    <input type="text" class="form-control" id="pollTitle" placeholder="What question would you like to poll?" ng-model="title">
                      <div><button class="createButton btn btn-primary btn-xs" ng-click="toggleBox()">create</button><div class="cancel"><a ui-sref="dashboard">Cancel</a></div></div>
                    </div>
                </div>
            </form>
        </div>
    </div>

<div class="col-md-4" ng-show="secondBox"></div>


       <div class="panel panel-primary col-md-4 createPollBox" ng-show="secondBox">

        <div class="panel-heading">
            <h3 class="panel-title">{{pollQuestion}}</h3>
        </div>
        <div class="panel-body">

            <div class="panel-body">
                <div class="form-group">
                    <label for="pollTitle">Answer Choices</label>
                    <div class="form-group">

                        <input type="text" class="form-control" id="options" placeholder="Enter poll option"  ng-model="optionOne">
                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" id="options" placeholder="Enter poll option" ng-model="optionTwo">
                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" id="options" placeholder="Enter poll option" ng-model="optionThree">
                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" id="options" placeholder="Enter poll option" ng-model="optionFour">
                    </div>
                    <button class="createButton btn btn-primary btn-xs" ng-click="toggleForward()">Next</button>
                    <button class="createButton btn btn-primary btn-xs" ng-click="toggleBack()">Back</button>
                </div>

             </div>
        </div>
    </div>

    <div class="col-md-4" ng-hide="secondBox"></div>
    <div class="col-md-4" ng-show="firstBox"></div>


    <div class="panel panel-primary col-md-4 createPollBox" ng-show="thirdBox">
        <div class="panel-heading">
            <h3 class="panel-title">{{pollQuestion}}</h3>
        </div>

        <div class="panel-body">
            <div class="form-group">
                <div class="radio">
                    <label>
                        <input type="radio">
                        {{choice1}}
                    </label>
                </div>
                <div class="radio">
                    <label>
                    <input type="radio">
                    {{choice2}}
                    </label>
                </div>
                <div class="radio">
                    <label>
                    <input type="radio">
                        {{choice3}}
                    </label>
                </div>
                <div class="radio">
                    <label>
                    <input type="radio">
                    {{choice4}}
                    </label>
                </div>
                <div class="previewButton">
                <button class="btn btn-primary btn-md btn-block disabled">Vote</button>
                <div class="viewResultsBox">View Results</div>
                </div>
            </div>
            <button class="createButton btn btn-primary btn-xs" ng-Click="createPoll()">Submit</button>
            <button class="createButton btn btn-primary btn-xs" ng-click="toggleFinalBack()">Back</button>
        </div>




</div>






    <!--<button type="submit" class="btn btn-primary" ng-Click="createPoll()">Submit</button>-->





    <!--<div class="panel col-md-4">-->

        <!--<form>-->
            <!--<div class="form-group">-->
                <!--<label for="pollTitle">Poll Title</label>-->
                <!--<input type="text" class="form-control" id="pollTitle" placeholder="Enter title" ng-model="pollTitle">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="optionOne">1.</label>-->
                <!--<input type="text" class="form-control" id="options" placeholder="Enter poll option"  ng-model="choice1">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="optionTwo">2.</label>-->
                <!--<input type="text" class="form-control" id="options" placeholder="Enter poll option" ng-model="choice2">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="optionThree">3.</label>-->
                <!--<input type="text" class="form-control" id="options" placeholder="Enter poll option" ng-model="choice3">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="optionFour">4.</label>-->
                <!--<input type="text" class="form-control" id="options" placeholder="Enter poll option" ng-model="choice4">-->
            <!--</div>-->

                <!--<button type="submit" class="btn btn-default" ng-Click="createPoll()">Submit</button>-->
        <!--</form>-->
    <!--</div>-->



