
<div class="container">
    <div class="row">
     <div class="col-md-6">

         <form class="createPollForm" name="createPollFrm" novalidate>
             <div class="form-group">
                 <label for="pollQuestion">Create a New Poll</label>
                 <input type="text" name="title" class="form-control" id="pollQuestion" placeholder="Enter Question" ng-model="title" required>
                 <span ng-show="createPollFrm.title.$dirty && createPollFrm.title.$error.required" class="questionRequired">
                     Question Required
                 </span>
             </div>
             <label>Enter Poll Options</label>
             <div ng-repeat="choice in choices" class="inputChoices">
                 <input type="text" name="pollChoices" class="form-control"  placeholder="Enter poll choice"  ng-minlength="1" ng-model="choice.option" required>
                 <span ng-show="createPollFrm.pollChoices.$dirty && createPollFrm.pollChoices.$invalid" class="questionRequired"></span>
                     <!--<span ng-show="createPollFrm.pollChoices.$error.required">Poll Choice is Required</span>-->
                 <!--</span>-->
                 <br/>


             </div>
             <div>
             <div class="addChoice"><a ng-click="addNewChoice()">Add Choice</a></div>
             <div class="addChoice"><a ng-click="deleteChoice()">Delete Choice</a></div>
             <br/>


             <button ng-disabled="createPollFrm.$invalid" type="submit" class="btn btn-primary btn-xs createButton" ng-click="createPoll()" >Submit</button>
             </div>
         </form>

    </div>
    <div class="col-md-6">

        <form>
        <div class="activePollsAccordion">

        <div class="well">
        <div class="pollLogo"><img src="assets/images/logo10.png" class="pollLogo"></div>
        <div class="centeredInput">
        <div class="pollTemplateTitle">{{title}}</div>
        <div class="pollBody"></div>
        <div class="radio" ng-repeat="key in choices">
        <label>
        <input type="radio" ng-model="choices"  disabled>{{key.option}}

        </label>
            <br />
        </div>
        </div>
            <div class="voteViewLay">
            <div >Vote| View Results</div>
            </div>
       </div>


        </div>
        </form>

    </div>
</div>
</div>







