
    <div class="container dashboardView">
        <header class="dashboardHeader">

            <div class="dashboardImage">
                <a ui-sref="dashboard"><img src="{{user.photos[0].value}}" class="img-responsive"></a>
            </div>


            <div class="dashboardUser">{{user.displayName}}</div>

            <div class="dashboardLinks"><a ui-sref="dashboard.createPoll">Create Poll</a></div>
            <div class="dashboardLinks"><a ui-sref="dashboard.activePolls">Active Polls</a></div>
            <!--<div class="dashboardLinks"><a ui-sref="dashboard.singlePoll">Single Poll</a></div>-->


        </header>
    </div>







<div  class="container dashboardContainer">
    <div class="headerDivider"></div>
        <ui-view>
        </ui-view>
</div>


