<div class="container">
<div class="container homeContainer">Home Page</div>


    <div class="container">
        <div class="row">
            <div class="col-md-6">


                <!--<accordion close-others="true" class="panel-heading">-->
                        <!--<accordion-group is-open="isopen" class=" panel-primary" id="accordion">-->
                            <!--<accordion-heading class="panel panel-heading ">-->

                                <!--<div class="panel-title activepollsradius">-->
                                    <!--<a href="" ><div class="accordTitle">Step One - Enter a Question</div></a><div class="glyphIcon"><i class="indicator glyphiconActive glyphicon glyphicon-chevron-down  pull-right"></i></div>-->
                                <!--</div>-->
                            <!--</accordion-heading>-->
                                    <!--<div class="centeredInput">-->
                                        <!--<label>Poll Question</label>-->
                                        <!--<div>-->

                                            <!--<input type="text"-->
                                                   <!--name="pollTitle"-->
                                                   <!--class="form-control inputCushion"-->
                                                   <!--ng-minlength="1"-->
                                                   <!--placeholder="What question would you like to poll?"-->
                                                   <!--ng-model="title"-->
                                                   <!--required>-->
                                        <!--</div>-->
                                        <!--<span ng-show="frm.pollTitle.$dirty && frm.pollTitle.$error.required" class="questionRequired">Question Required</span>-->
                                    <!--</div><br/>-->
                        <!--</accordion-group>-->
                    <!--</accordion>-->
                    <!--<accordion close-others="true" class="panel-heading">-->
                            <!--<accordion-group is-open="isopen" class=" panel-primary" id="accordion">-->
                                <!--<accordion-heading class="panel panel-heading ">-->

                                    <!--<div class="panel-title activepollsradius">-->
                                        <!--<a href="" ><div class="accordTitle">Step Two - Enter Poll Choices</div></a><div class="glyphIcon"><i class="indicator glyphiconActive glyphicon glyphicon-chevron-down  pull-right"></i></div>-->
                                    <!--</div>-->
                                <!--</accordion-heading>-->
                                        <!--<div class="centeredInput">-->
                                            <!--<div class="pollBody"></div>-->
                                            <!--<div ng-repeat="choice in choices" class="inputChoices">-->
                                                <!--<input type="text" name="pollChoices" class="form-control"  placeholder="Enter poll choice"  ng-minlength="1" ng-model="choice.option" required><br/>-->
                                            <!--</div>-->
                                            <!--<div class="addChoice"><a ng-click="addNewChoice()">Add Choice</a></div>-->
                                            <!--<div class="addChoice"><a ng-click="deleteChoice()">Delete Choice</a></div>-->
                                            <!--<br/>-->
                                        <!--</div>-->
                            <!--</accordion-group>-->
                        <!--</accordion>-->

                    <!--<accordion close-others="true" class="panel-heading">-->
                            <!--<accordion-group is-open="isopen" class=" panel-primary" id="accordion">-->
                                <!--<accordion-heading class="panel panel-heading ">-->

                                    <!--<div class="panel-title activepollsradius">-->
                                        <!--<a href="" ><div class="accordTitle">Step three - Review and Submit</div></a><div class="glyphIcon"><i class="indicator glyphiconActive glyphicon glyphicon-chevron-down  pull-right"></i></div>-->
                                    <!--</div>-->
                                <!--</accordion-heading>-->
                                        <!--<div class="centeredInput">-->
                                            <!--<div class="pollTemplateTitle">{{title}} </div>-->
                                            <!--<div class="pollBody"></div>-->
                                            <!--<div class="radio" ng-repeat="key in choices">-->
                                                <!--<label>-->
                                                    <!--<input type="radio" ng-model="choices"  disabled>{{key.option}}-->

                                                <!--</label>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                            <!--<div class="Vote"></div><div class="viewResultsTemplate"></div>-->
                                            <!--<div class="rightButtons">-->
                                                <!--<button class="createButton btn btn-primary btn-xs" ng-click="createPoll()">Submit</button>-->
                                            <!--</div>-->
                                            <!--<br />-->
                                            <!--<br />-->
                            <!--</accordion-group>-->
                        <!--</accordion>-->
                <!--</accordion>-->
            </div>
        </div>
    </div>






</div>