<div class="col-md-4"></div>
<form>
    <div class="col-md-4 createPollBox2">
        <div class="well">
        <div class="pollLogoo"><img src="assets/images/logo10.png" class="pollLogo"></div>
        <div class="centeredInput">
        <div class="pollTemplateTitle">{{poll.title}} </div>
        <div class="pollBody"></div>
        <div class="radio" ng-repeat="choice in poll.choices">
            <form>
            <label>
                <input type="radio" name="pollChoices" ng-model="$parent.selectedVote" value="{{choice}}">{{choice.body}}
                <br/>
            </label>
            </form>
        </div>
        </div>


<!--         <div class="btn btn-primary" ng-show="!selectedVote">View Results</div>
        <br>
        <div class="btn btn-primary" ng-show="selectedVote">Vote</div> -->


        <div class="Vote"></div><div class="viewResultsTemplate"></div>

        <div class="voteView">

        <div><a href="" ng-click="castVote()">Vote     </a>|<a href="" ng-click="castVote()">     View Results</a></div><br />

        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://tweetpoll.me/#/poll/{{poll._id}}" data-text="Vote in my poll: {{poll.title}}" data-size="large" data-count="none" data-dnt="true">Tweet</a>

        <script src="https://platform.twitter.com/widgets.js"></script>

        <div>Link to share: </br /><pre>tweetpoll.me/#/poll/{{poll._id}}</pre></div>

        </div>
    </div>
    </div>
</form>


<!-- <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>  -->
