<!--<div class="container">-->
<!--<div class="col-md-4"></div>-->
<!--<div class="panel panel-primary col-md-4 createPollBox">-->
    <!--<div class="panel-heading">-->
        <!--<h3 class="panel-title">{{poll.title}}</h3>-->
    <!--</div>-->

    <!--<div class="panel-body">-->
        <!--<div class="form-group">-->
            <!--<div class="radio">-->
                <!--<label>-->
                    <!--<span ng-repeat="choice in poll.choices">-->
                    <!--&lt;!&ndash;<input type="text" name="name" ng-value="choice"  ng-model="$parent.selectedChoice">&ndash;&gt;-->
                        <!--{{choice.body}} {{choice.counter}}<br/>-->
                        <!--</span>-->

                <!--</label>-->
            <!--</div>-->

        <!--</div>-->
        <!--&lt;!&ndash;<button class="createButton btn btn-primary btn-xs" ng-Click="createPoll()">Submit</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<button class="createButton btn btn-primary btn-xs" ng-click="toggleFinalBack()">Back</button>&ndash;&gt;-->
    <!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="container">-->
<div class="col-md-3"></div>
<form>
    <div class="col-md-6 createPollBox2 pieResults">
     <div class="well pieResults">
        <div class="pollLogo"><img src="./assets/images/Twitter-logo.png" class="loginImg">iePolls.com</div>
        <div class="centeredInput">
            <!--<div class="pollTemplateTitle">{{poll.title}} </div>-->
            <div class="pollBody"></div>
            <!--<div class="radio" ng-repeat="choice in poll.choices">-->
                <!--<form>-->
                    <!--<label>-->
                        <!--&lt;!&ndash;<input type="radio" name="finalVote" ng-model="$parent.selectedChoice">{{choice.body}}&ndash;&gt;-->
                        <!--<input type="radio" name="pollChoices" ng-model="$parent.selectedVote" value="{{choice}}">{{choice.body}}-->
                        <!--<br/>-->
                    <!--</label>-->
                <!--</form>-->
            <!--</div>-->
            <div class="pieChart" chart chart-data="chartData" poll-title="{{poll.title}}"></div>
        </div>

        <div class="Vote"></div><div class="viewResultsTemplate"></div>

        <div class="voteView">

            <!--<div><a ng-click="castVote()">Vote     </a>|<a ui-sref="#pollResults" data-toggle="modal">View Results</a></div>-->

            <div>Link to share: </br /><pre>/#/poll/{{poll._id}}</pre></div>
            <div class="backToPoll"><a href="/#/poll/{{poll._id}}">Back to Voting</a></div>
        </div>


    </div>
</form>
<!--</div>-->
