<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<div class="col-md-4"></div>
<form>
    <div class="col-md-4 createPollBox2">
        <div class="pollTopBorder"></div>
        <div class="bottomHeaderBorder"></div>
        <div class="pollLogo"><img src="./assets/images/Twitter-logo.png" class="loginImg">iePolls.com</div>
        <div class="centeredInput">
        <div class="pollTemplateTitle">{{poll.title}} </div>
        <div class="pollBody"></div>
        <div class="radio" ng-repeat="choice in poll.choices">
            <form>
            <label>
                <!--<input type="radio" name="finalVote" ng-model="$parent.selectedChoice">{{choice.body}}-->
                <input type="radio" name="pollChoices" ng-model="$parent.selectedVote" value="{{choice}}">{{choice.body}}

                <br/>
            </label>
            </form>
        </div>
        </div>

        <div class="Vote"></div><div class="viewResultsTemplate"></div>

        <div class="voteView">

        <div><a ng-click="castVote()">Vote     </a>|<a href="#myModal" data-toggle="modal">     View Results</a></div>

        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://localhost:8080/#/poll/{{poll._id}}" data-text="Vote in my poll:" data-size="large" data-count="none" data-dnt="true">Tweet</a>

        <div>Link to share: <pre>/#/poll/{{poll._id}}</pre></div>

            <!-- start of Modal -->

            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button><br/>
                            <div class="pollTopBorder"></div>
                            <div class="bottomHeaderBorder"></div>
                            <h4 class="modal-title"><div class="pollLogo"><img src="./assets/images/Twitter-logo.png" class="loginImg">iePolls.com</div></h4>
                            <div class="modal-body">
                                <!--<h4>{{poll.title}}</h4>-->
                                <span ng-repeat="choice in poll.choices"></span>
                                    <!--<h3>{{choice.body}}</h3>-->
                                    <div class="pieChart" chart></div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- end of Modal -->


        </div>
        <div class="bottomHeaderBorder createPreviewBottomBorder bottomHeaderBuffer"></div>
        <div class="pollBottomBorder"></div>


    </div>
</form>


<!--&lt;!&ndash; start of Modal &ndash;&gt;-->

<!--<div class="modal fade" id="myModal" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel" area-hidden="true">-->
    <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<button class="close" data-dismiss="modal"><&times;</button>-->

                <!--<h4 class="modal-title">My Modal Window</h4>-->
                <!--<div class="modal-body">-->

                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;<form>&ndash;&gt;-->

            <!--&lt;!&ndash;<div class="pollTopBorder"></div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="bottomHeaderBorder"></div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="pollLogo"><img src="./assets/images/Twitter-logo.png" class="loginImg">iePolls.com</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="centeredInput">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="pollTemplateTitle">{{poll.title}} </div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="pollBody"></div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="radio" ng-repeat="choice in poll.choices">&ndash;&gt;-->
                    <!--&lt;!&ndash;<form>&ndash;&gt;-->
                        <!--&lt;!&ndash;<label>&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;<input type="radio" name="finalVote" ng-model="$parent.selectedChoice">{{choice.body}}&ndash;&gt;&ndash;&gt;-->
                            <!--&lt;!&ndash;<input type="radio" name="pollChoices" ng-model="$parent.selectedVote" value="{{choice}}">{{choice.body}} {{choice.counter}}&ndash;&gt;-->
                            <!--&lt;!&ndash;<br/>&ndash;&gt;-->
                        <!--&lt;!&ndash;</label>&ndash;&gt;-->
                    <!--&lt;!&ndash;</form>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--&lt;!&ndash;<div class="Vote"></div><div class="viewResultsTemplate"></div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="voteView">&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;<div><a ng-click="castVote()">Vote     </a>|<a ui-sref="viewResults">     View Results</a></div>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="bottomHeaderBorder createPreviewBottomBorder"></div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="pollBottomBorder"></div>&ndash;&gt;-->

    <!--&lt;!&ndash;</form>&ndash;&gt;-->


<!--</div>-->

<!--&lt;!&ndash; end of Modal &ndash;&gt;-->

