html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    /*background: rgb(240,240,240);*/
}
a {
    text-decoration: none;
}

button a {
    color: #ffffff;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

.boxSize {
    height: 100px;
    width: 100px;
    background-color: blue;
}

.loginImg {
    width: 20px;
    height: auto;
}

.dashboardHeader {
    height: 60px;
    width: 100%;
    margin-bottom: 10px;
}

.dashboardImage {
    display: inline-block;
    height: 60px;
    width: auto;
    padding-top: 5px;
    padding-left: 15px;
    float: left;
}
.dashboardUser {
    display: inline-block;
    height: 100%;
    width: 150px;
    float: left;
    margin-left: 10px;
    margin-top: 17px;
}
/*.ng-binding {*/
    /*margin-bottom: 0;*/
    /*padding-bottom: 0;*/
/*}*/
.dashboardLinks {
    display: inline-block;
    margin-left: 15px;
    padding-top: 30px;
    float:left;
}
.dashboardView {
    background: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 20px;
}
.dashboardContainer {
    height: 100%;
    /*position: relative;*/
}
.homeView {
  background: #ffffff;
}
.mainView {
    background: #ffffff;
}
.homeContainer {
    background: #ffffff;
    padding-top: 0;
    min-height: 100%;
}
.navbar {
    margin-bottom: 0;
}
.activePolls {
    margin-top: 15px;

}
/*.containerHeight {*/
    /*height: 100%;*/
/*}*/
.row {
    margin-left: 0;
    margin-right: 0;
}
.footerClass {
    position: absolute;
    clear: both;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: rgb(51,51,51);

}
.headerDivider {
    background: rgb(58,171,218);
    padding-left: 0;
    padding-right: 0;
    height: 5px;
    /*border-radius: 5px;*/
    /*background: url(../images/clean-textile.jpg);*/
}
input.ng-invalid.ng-dirty {
    border: 1px solid #FA787E;
}

.profilePic {
    height: 60px;
    width: auto;
    display: inline-block;
}
.activePollsHeader {
    display: inline-block;
    color: #ffffff;
}

.createPollBox {
    border-radius: 5px;
    margin-top: 10px;
}
.cancel {
    display: inline-block;
    float: right;
    font-size: 12px;
    margin-top: 8px;
    margin-right: 5px;
}
.inputWarning {
    color: #ff0000;
    font-size: 12px;
}
.createButton {
    display: inline-block;
    float: right;
    margin-top: -27px;
    margin-left: 5px;
}
.activePollsButton {
    display: inline-block;
    float: right;
    margin-right: 10px;
    margin-bottom: 5px;
}
.col-md-4 {
    padding-right: 0;
    padding-left: 0;
}
.viewResultsBox {
  text-align: center;
    font-size: 12px;
    color: rgb(50,118,177);
    margin-top: 15px;
}
.panel-color {
    background: rgb(58,171,218);
    color: #ffffff;
}
.panel {
    /*border-radius: 5px;*/

}
.previewButton {
    margin-top: 50px;
}
.panel-heading {
    height: 40px;
    color: #ffffff;
    padding: 0px;
}

.pollTopBorder {
    /*border-radius: 5px;*/
    background: #000000;
    height: 8px;
}
.bottomHeaderBorder {
    border-bottom: 2px solid rgb(58,171,218);
    margin-top: 3px;
    margin-bottom: 3px;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}
.pollLogo {
    font-family: 'Arial', 'helvetia', serif;
    font-size: 22px;
    height: 40px;
    text-align: center;
}
.pollTemplateTitle {
    font-size: 18px;
    /*text-align: center;*/
    /*border-bottom: solid 1px #d3d3d3;*/
    margin-bottom: 3px;
    color: #000000
}
.pollBody {
    margin-top: 25px;
    color: #000000;
}
.panel-group {
    margin-bottom: 1px;
}
.pollBottomBorder {
    background: rgb(51,51,51);
    height: 8px;
    /*border-radius: 5px;*/
}
.inputChoices {
    margin-top: 5px;
}
.createPollBox2 {

    margin-top: 50px;
    border: none;
}

.createPollBottomBorder {
    margin-top: 35px;
}
.createPreviewBottomBorder {
    margin-top: 45px;
}
.addChoice {
    display: inline-block;
    margin-left: 5px;
}
.addDelete {
    display: inline-block;
    float: left;
    font-size: 12px;
    margin-top: 8px;
    margin-right: 5px;
}
.voteView {
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    font-family: 'Arial', 'helvetia', serif;
    /*border-top: solid 1px #d3d3d3;*/
    border-bottom: 10px;
    padding-top: 15px;
}
.questionRequired {
    color: #FF0000;
}
.centeredInput {
    width: 80%;
    margin: 0 auto;
    color: #000000;

}
.rightButtons {
    margin-right: 10%;
}
.leftButtons {
    margin-left: 10%;
}
.buttonBox {
    margin-top: 10px;
}
.bottomHeaderBuffer {
    margin-top: 50px;
}

.progressVotes {
    width: 70%;
}
.pieChart {
    margin: 0 auto;

}
.logoDesign {
    width: 50px;
    height: auto;
    padding-top: 5px;
}
.voteViewLay {
    text-align: center;
    margin-top: 5px;
}
.totalVotesHeading {
    float: right;
    display: inline-block;
    margin-right: 7px;
}
.activePollsAccordion {
    margin-top: 10px;

}
.activePollsAccordionBody {
    color: #000000
}

.accordTitle {
    margin-left: 4px;
    padding-top: 10px;
    display: inline-block;
    color: #000000;
}
.glyphiconActive {
    line-height: 0px;
    top: -10px;
    padding-right: 3px;
}
.glyphiconCreate {
    top: 11px;
    padding-right: 3px;
}
.radio {
    margin-left: 10px;
}

.panel-body {
    padding: 0px;
}
.createPollForm {
    margin-top: 10px;
    /*border: solid 1px #000000;*/
}
form[novalidate] input {
    border-left-width: 8px;
    border-color: #3498db;
    border-style: solid;
}
input[required].ng-pristine {
    /*border-color: #e74c3d;*/
    border-color: #808080;
}
input.ng-invalid.ng-dirty {
    border-color: #e74c3c;
}
input.ng-valid.ng-dirty {
    border-color: #2ecc71;
}
.chartLocation {
    margin-left: 100px;
}
